
				<div class="wide-page-holder game-step" id="game-step-1">
					<h3>Select a product</h3>
					<div class="categories" id="game-categories">
						<a href="#" class="first">Self Branding</a>
						<a href="#">Professional</a>
						<a href="#">Social</a>
						<a href="#" class="last">School</a>
					</div>
					<ul class="icons" id="game-icons">
						<%
						Category.all.each{|c|
							%>
							<li>
								<a href="#" class="<%=c.code%>" onclick="$('input[name=category_id]').val(<%=c.id%>);get_range(<%=c.id%>)">
									<img src="/img/icons/<%=c.icon%>.png" alt="<%=c.name%>" class="normal" />
									<img src="/img/icons/<%=c.icon%>-hover.png" alt="<%=c.name%>" class="hover" />
									<span class="text"><%=raw(c.name)%></span>
								</a>
							</li>
							<%
						}
						
						%>
						
					</ul>
					
					<script type="text/javascript">
						function get_range(category_id)
						{   random = Math.ceil(Math.random() * 200) + 3;
							$.ajax({
							  type: "POST",
							  url: "/game/category_price_range",
							  data: { id:category_id},
							  success: function(data){
							  	//$('.max_price.active').attr("data-min",data.min_price);
							  	//$('.max_price.active').attr("data-max",data.max_price);
							  	//$('.max_price.active').attr("data-value",data.max_price-100);
							  	$('.max_designers').text(1+data.max_designers + ' designers available');
							  	
							  	BuildSliders();
							  }
							});
							return false;
						}
					</script>
					<div class="wide-page-wrap" id="game-step-2">
						<h3 class="border">Select the price range that fits you</h3>
						<form action="/game/next" method="post">
							<input type="hidden" name="category_id"  />
								<%
								min_price = 30
								%>
								<div id="price-buttons-container">
									<div id="price-buttons">
										<div class="button_price_game">
											<ul id="list-price-buttons">
											<li><a class="white-button max_price price-slider" onclick="get_range()" id="249" data-min="30" data-max="249" data-value="150" href="#"><input name="max_price" type="hidden" value="150">$249 &rsaquo;</a></li>
											<li><a class="white-button max_price price-slider" onclick="get_range()" id="499" data-min="250" data-max="499" data-value="350" href="#"><input name="max_price" type="hidden" value="350">$250-$499</a></li>
											<li><a class="white-button max_price active price-slider" onclick="get_range()" id="749" data-min="500" data-max="749" data-value="650" href="#"><input name="max_price" type="hidden" value="650">$500-$749</a></li>
											<li><a class="white-button max_price price-slider" onclick="get_range()" id="999" data-min="750" data-max="999" data-value="850" href="#"><input name="max_price" type="hidden" value="850">$750-$999</a></li>
											<li><a class="white-button max_price price-slider" onclick="get_range()" id="1000" data-min="1000" data-max="10000" data-value="2000" href="#"><input name="max_price" type="hidden" value="2000">&lsaquo; $1000</a></li>
											</ul>
											
										<span class="loading_image"><img id="loading_img" src="/img/loading.gif"/></span>
										<span class="loading_text max_designers"><p>designers<br />available</p></span>
										<div>
											</div>
										</div>
									</div>
								</div>
								<!--div class="price-slider" id="max_price" data-min="30" data-max="800" data-value="100"></div>
								<div class="price-slider-info" style="font-family: 'QuickSandRegular';width: 120px;margin-left: -130px;margin-top: -25px;text-align: right"></div>
								<div class="price-slider-info" style="font-family: 'QuickSandRegular';width: 120px;margin-right: -130px;float: right;margin-top: -40px"><span id="max_designers">x</span> designers will work for this price</div-->
							
							<div class="buttons clearfix">
								<a href="#" class="black-button big-font" id="submit">
									Next
									<img src="/img/arrow-right.png" class="normal" />
									<img src="/img/arrow-right-orange.png" class="hover" />
								</a>
								<a href="/site/index" class="cancel">Cancel</a>
							</div>
						</form>
						<p>x</p>
					</div>
				</div>
			