
				<div class="wide-page-holder game-step" id="game-step-1">
					<h3>Select a product</h3>
					<div class="categories" id="game-categories">
						<a href="#" class="first">Self Branding</a>
						<a href="#">Professional</a>
						<a href="#">Social</a>
						<a href="#" class="last">School</a>
					</div>
					<ul class="icons" id="game-icons">
						<%
						Category.all.each{|c|
							%>
							<li>
								<a href="#" class="<%=c.code%>" onclick="$('input[name=category_id]').val(<%=c.id%>);get_range(<%=c.id%>)">
									<img src="/img/icons/<%=c.icon%>.png" alt="<%=c.name%>" class="normal" />
									<img src="/img/icons/<%=c.icon%>-hover.png" alt="<%=c.name%>" class="hover" />
									<span class="text"><%=raw(c.name)%></span>
								</a>
							</li>
							<%
						}
						
						%>
						
					</ul>
					
					<script type="text/javascript">
						function get_range(category_id)
						{
							$.ajax({
							  type: "POST",
							  url: "/game/category_price_range",
							  data: { id:category_id},
							  success: function(data){
							  	$('#max_price').attr("data-min",data.min_price);
							  	$('#max_price').attr("data-max",data.max_price+200);
							  	$('#max_price').attr("data-value",((data.max_price+200)*7)/8);
							  	$('#max_designers').text(90+data.max_designers);
							  	BuildSliders();
							  }
							});
							return false;
						}
					</script>
					
					
					
					<div class="wide-page-wrap" id="game-step-2">
						<h3 class="border">Select the price that fits you</h3>
						<form action="/game/next" method="post">
							<input type="hidden" name="category_id"  />
							<div class="price-slider-holder">
								<%
								min_price = 30
								%>
								<div class="price-slider" id="max_price" data-min="30" data-max="800" data-value="100"></div>
								<div class="price-slider-info" style="font-family: 'QuickSandRegular';width: 120px;margin-left: -130px;margin-top: -25px;text-align: right">10 designers will work for this price</div>
								<div class="price-slider-info" style="font-family: 'QuickSandRegular';width: 120px;margin-right: -130px;float: right;margin-top: -40px"><span id="max_designers">x</span> designers will work for this price</div>
							</div>
							<div class="buttons clearfix">
								<a href="#" class="black-button big-font" id="submit">
									Next
									<img src="/img/arrow-right.png" class="normal" />
									<img src="/img/arrow-right-orange.png" class="hover" />
								</a>
								<a href="/site/index" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			