
				<div class="wide-page-holder game-step" id="game-step-1">
					<h3>Select a product</h3>
					<div class="categories" id="game-categories">
						<a href="#" class="first">Self Branding</a>
						<a href="#">Professional</a>
						<a href="#">Social</a>
						<a href="#" class="last">School</a>
					</div>
					<ul class="icons" id="game-icons">
						<%
						Category.all.select.each{|c|
							%>
							<li>
								<a href="#" class="<%=c.code%>" onclick="$('input[name=category_id]').val(<%=c.id%>)">
									<img src="/img/icons/<%=c.icon%>.png" alt="<%=c.name%>" class="normal" />
									<img src="/img/icons/<%=c.icon%>-hover.png" alt="<%=c.name%>" class="hover" />
									<span class="text"><%=raw(c.name)%></span>
								</a>
							</li>
							<%
						}
						
						%>
						
					</ul>
					
					<div class="wide-page-wrap" id="game-step-2">
						<h3 class="border">Select the price that fits you</h3>
						<form action="/game/next" method="post">
							<input type="hidden" name="category_id"  />
							<div class="price-slider-holder">
								<div class="price-slider" id="max_price"></div>
							</div>
							<div class="buttons clearfix">
								<a href="#" class="black-button big-font" id="submit">
									Next
									<img src="/img/arrow-right.png" class="normal" />
									<img src="/img/arrow-right-orange.png" class="hover" />
								</a>
								<a href="#" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			