
			<section id="content-inside" style="top: 5em;">
				
				
				<section id="loading-designers" class="for-step-3" style="margin-top: -60px;">
					<div class="gray">
						<img src="/newver/img/loading-designers.png" alt="Loading..." />
					</div>
					<div class="orange" style="width: 100%;">
						<img src="/newver/img/loading-designers-orange.png" alt="Loading..." />
					</div>
				</section>
				
				<section id="persona-steps" class="for-step-3" style="margin-top: -80px;">
					<div class="step">
						<div class="icon">1</div>
						<div class="text">Select product</div>
					</div>
					<div class="step step2">
						<div class="icon">2</div>
						<div class="text">select designs</div>
					</div>
					<div class="step step3 active">
						<div class="icon">3</div>
						<div class="text">Get matched</div>
					</div>
				</section>
				
				<section id="matches-found">
					<div class="title-2r centered">
						<div class="r1">Congrats! We found your matches!</div>
						<div class="r2 color">Meet the top three designers who match your taste</div>
					</div>
					
					<form action="/game/next" method="post">
						
						<div class="matches">
							<%
								
								image_rates=@game.game_image_rates.select{|i| i.value==1}
								
								designers = image_rates.map{|r| r.image.user}
								rated =designers.map{|d| {:d=>d, :r=>designers.count(d)}}.uniq.sort{|a,b| b[:r]<=>a[:r]}
								designers = rated.map{|r| r[:d]}
								selected_tags = @game.images.map{|si| si.tags}.flatten.uniq
								
								others = User.all.select{|u| u.designer}.map{|dez|
									dez_tags = dez.images.map{|dezi| dezi.tags}.flatten.uniq
									rate = (dez_tags+selected_tags).length - (dez_tags+selected_tags).uniq.length 
									{:d=>dez, :r=>rate}
								}.sort{|a,b| b[:r]<=>a[:r]}.map{|o| o[:d]}
								
								designers = (designers+others).uniq.compact.take(3)
								i=0
								
								designers.each{|d|
									i+=1
							%>
									<article class="match <%= i%3==0 ? "last" : ""%>">
										<!-- <a href="/designer/profile/<%=d.url_identifier%>" target="_blank"> -->
											<% img = d.avatar.blank? ? "designer_profile_default.jpg" : d.avatar %>
											
											<div class="image">
												<%= link_to image_tag("/user_avatars/" + img), {:controller=>"game", :action=>"ajax_profile", :dez=>d.id}, :remote => true %>
												<!-- <a href="/designer/profile/<%=d.url_identifier%>" target="_blank"><img src="/user_avatars/<%= d.avatar.blank? ? "designer_profile_default.jpg" : d.avatar%>" alt="Profile Image" /></a>
												<div class="name"><%=d.name%></div> -->
												<%= link_to content_tag(:div,d.name, :class=>"name"), {:controller=>"game", :action=>"ajax_profile", :dez=>d.id}, :remote => true %>
												
											</div>
										<!-- </a> -->
										<div class="check-button">
											<span class="checkbox big checked">
												<input type="checkbox" name="designers[]" value="<%=d.id%>"  checked="checked" />
												<span class="c-v"></span>
											</span>
										</div>
									</article>
							<% 
							}
							%>

						</div>
						
						<div class="buttons">
							<button class="button black" style="padding: 0px 100px 0px 100px;">Connect</button>
							<!-- <div class="or">
								<a href="#">or, show me more matches</a>
							</div> -->
						</div>
						
					</form>
					
				</section>
				
			</section>
			
			<div id="overlay"></div>
			<section id="full-brief">
				<span class="close"></span>
				<section class="content clearfix">
					<div id="boxer"></div>
				</section>
			</section>
			
			
		