<link href="/newver/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
<script src="/newver/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/newver/js/jquery.customCalendar.min.js"></script>
<link href="/newver/css/jquery.customCalendar.min.css" rel="stylesheet" />

			<section id="content-inside">
				
				<section id="matches-found" class="with-form">
					<div class="title-2r centered">
						<div class="r1">You’ve selected these designers</div>
					</div>
					
					<form action="/game/next" method="post" id="game5-form">
						
						<div class="matches">
							<%
							designer_ids = params[:chosen] || []
   							i=0
   							designer_ids.each{|id|
      						d = User.find(id)		
      						checked = params[:designers].include?(id)
								# @game.designers.each{|d|
									i+=1
									img = d.avatar.blank? ? "designer_profile_default.jpg" : d.avatar
							%>
							<article class="match <%= i==3 ? "last" : "small"%>">
								<div class="image" >
									<a href="/designer/profile/<%=d.url_identifier%>" target="_blank"><img class="small" src="/user_avatars/<%= img %>" alt="Name" />
									<div class="name small"><%= d.name%></div></a>
								</div>
								
								<div class="check-button">
									<span class="checkbox medium <%=checked ? "checked" : "" %>">
										<input type="checkbox" name="designers[]" value="<%=d.id%>" <%= checked ? "checked='checked'" : ""%> />
										<span class="c-v"></span>
									</span>
								</div>
							</article>
							<input type="hidden" name="chosen[]" value="<%=d.id%>">
						<% } %>
	
						</div>
						
						<div class="middle-title color" style="margin-bottom:25px;">Add details about your project for the quote</div>
						
						<div class="form">
							
				
							<div class="formfield clearfix">
								<label>
									<span class="req color">*</span>
									Add a title to your project:
								</label>
								<input type="text" class="text" name="title" placeholder="E.g. New product version" />
							</div>
							<div class="formfield clearfix">
								<label>
									Any direction you have in mind?
								</label>
								<textarea name="description" placeholder="E.g. not sure"></textarea>
							</div>
							<div class="formfield clearfix">
								<label>
									Have a budget in mind (US$)?
								</label>
								<input type="text" class="text" name="budget" placeholder="E.g. 10000" />
							</div>
							<div class="formfield clearfix">
								<label>
									<!-- <span class="req color">*</span> -->
									What is the deadline for the project?
								</label>
								<input type="text" class="text" id="deadline" name="deadline" placeholder="mm/dd/yyyy" />
							</div>
								
						</div>
						
						<div class="buttons">
							<button class="button black" style="margin-top:20px;">send details</button>
						</div>
						
					</form>
					
					
				</section>
				
			</section>
			


  <script>
  $(function() {
    $( "#deadline" ).datepicker();
  });
  </script>
