				<div class="wide-page-holder game-step" id="game-step-3">
					<div class="wide-page-wrap">
						<h2 class="no-margin">Let’s get to know your taste!</h2>
						<h2 class="no-border font-size-24">Select the designs you like</h2>
						<%
						s=5
						@game.images.size.times{|a| s=s+((100-s)/10)}
						%>
						<div id="game-progress">
							<div id="game-progress-holder">
								<div id="game-progress-line1"></div>
								<div id="game-progress-line2" style="width:<%=s%>%"></div>
							</div>
						</div>
						<form action="/game/next">
							<div id="image-select">
								
								<%
								
								logger.debug "#### #{@game.stage.args}"
								
								pool_size=@game.stage.args[:image_pool_size] || 100
								category = @game.category
								
								images = category.image_grab(pool_size,@game.max_price*1000).reject{|i| @game.images.include?(i) || [492,280,622,581].include?(i.id)}
								logger.debug "--------------------------------------------------------------"
								logger.debug " found #{images.length} images for category #{category.name}"
								
								rand_index = images.length==0 ? 0 : ((Time.now.to_f*1000)%images.length).ceil-1
								
								logger.debug " Random Index #{rand_index}"
								
								
								image=images[rand_index]
								logger.debug " image choosen  #{image.inspect}"
								
								
								logger.debug "--------------------------------------------------------------"
								
								%>
								
								<ul class="image">
									<li class="active">
										<!-- <img src="/repository/thumbnail/<%= image.file_path%>" /> -->
										<img src="/repository/<%= image.file_path%>" />
									</li>
								</ul>
								
								
								<div class="buttons-select clearfix">
									<a href="/game/next?image_id=<%=image.id%>&selected=pass" class="black-button huge-font" >Pass</a>
									<a href="/game/next?image_id=<%=image.id%>&selected=like" class="orange-button huge-font" >Like</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			