<% public_mode = !(@editable && @proj.present?) %>
		<section id="content">
			
			<section id="profile-widgets">
<% # @proj = Project.find(350)
if @editable && @proj.present?
		
%>				
				<section id="profile-table">
					<div class="top-row clearfix">
						
						<div class="huge-title">My Matches</div>

						
						<div class="select-area form">
						<form name="select-project" id="select-project" action="/designer/dashboard">
							<div class="label color">select project:</div>
							<div class="selector formfield clearfix">
								
								<div class="combobox country" id="select-project-combo">
									<div class="value"><%=@proj.title.present? ? @proj.title : "" %></div>
									<input type="hidden" name="proj_id" value="<%=@proj.id%>" />
									<ul class="options">
										<% @author_projects.sort.reverse.map{ |pr| %>
											<% if pr.status.present? %>
												<li value_str="<%= pr.id %>"><%= pr.title.present? ? pr.title : "Unknown" %></li>
											<%end%>
										<% } %>
										
										<!-- <li value_str="2">Mobile design</li>
										<li value_str="3">Logo</li>
										<li value_str="4">Business card</li>
										<li value_str="5">Flyer</li>
										<li value_str="6">Branding</li>
										<li value_str="7">Packaging</li>
										<li value_str="8">Illustration</li>
										<li value_str="9">Song</li>
										<li value_str="10">Movie</li>
										<li value_str="11">Word</li> -->
									</ul>
								</div>
								
							</div>
						</form>	
						</div>
					</div>
					
					
					<section id="designer-list" style="margin-left: -140px; width: 1100px;">
						
						<div class="row clearfix project-expanded">
							<div class="col1">
								<div class="image">
									<img src="/user_avatars/<%= @proj.shopper.avatar.blank? ? "shopper_default_profile.jpg" : @proj.shopper.avatar %>" alt="Name" />
								</div>
								<div class="data">
									<div class="name"><%= @proj.shopper.present? ? @proj.shopper.name : "" %></div>
									<div class="position"><%= @proj.shopper.location.present? ? @proj.shopper.location : raw("&nbsp") %></div>
									<div class="button-zone">
										<a href="mailto:<%= @proj.shopper.email %>" class="button black orange-hover">Contact</a>
									</div>
								</div>
								<div class="project-current-status color"><%= @proj.status.present? ? @proj.display_status : "" %></div>
								
								<div class="colors">
									<div class="title">favorite colors:</div>
									<div class="subject clearfix">
										<% if @proj.game.present? && @proj.game.dominant_colors.present? %>																
											<% @proj.game.dominant_colors.each do |col| %>
												<div class="color" style="background: <%= col %>;"></div>
											<% end %>
										<% end %>
									</div>
								</div>
								
			<%
								
					image_rates=@proj.game.game_image_rates.select{|i| i.value==1}
					
					# designers = image_rates.map{|r| r.image.user}
					# rated =designers.map{|d| {:d=>d, :r=>designers.count(d)}}.uniq.sort{|a,b| b[:r]<=>a[:r]}
					# designers = rated.map{|r| r[:d]}
					name_array = Array.new
					 hash = Hash.new(0)
					 selected_tags = Array.new(0)
					 total = image_rates.count
					 #selected_tags = @proj.game.images.map{|si| si.tags}
					 image_rates.each do |imr|
					 	img=Image.where("id=?",imr.image_id)
					 	if img.present?
					 		img=Image.find(imr.image_id)
					 		selected_tags<< img.tags.map{|x| x}
					 	end
					 	
					 end
					 selected_tags.each_with_index do |i, k|
					 	selected_tags[k].each do |st|
							hash[st.name] =hash[st.name].to_i + 1 
							
						end
     					
					 end
					 hash = hash.sort_by {|a, b| b}.reverse.take(5)
					
					
					
								
			%>
				
					
					<div class="title">Your taste can be:</div>
					<div class="loaders clearfix">
					<% hash.each do |x,y| %>
								
								<%pcn=(100*y)/total%>
									<div class="row clearfix">
										<div class="label color"><%=x.split('(')[0]%></div>
										<div class="loader">
											<div class="value" style="width: <%=pcn<=100 ? pcn : 100%>%;"></div>
										</div>
									</div>
									
									
					<%end%>
									<!-- <div class="row clearfix">
										<div class="label color">Colorful</div>
										<div class="loader">
											<div class="value" style="width: 60%;"></div>
										</div>
									</div>
									<div class="row clearfix">
										<div class="label color">Big Fonts</div>
										<div class="loader">
											<div class="value" style="width: 30%;"></div>
										</div>
									</div>
									<div class="row clearfix">
										<div class="label color">Typogrphic</div>
										<div class="loader">
											<div class="value" style="width: 20%;"></div>
										</div>
									</div>
									<div class="row clearfix">
										<div class="label color">Realistic</div>
										<div class="loader">
											<div class="value" style="width: 80%;"></div>
										</div>
									</div> -->
								</div>
													
							</div>
							
							<%  images = Array.new 
								images = @proj.game.game_image_rates.select{ |img| img.value==1 }.take(3) 
							%>
							
							<div class="col2">
								<div class="designs">
									<div class="title">TASTE SAMPLES:</div>
									<div class="image-designer">
									<% if images[0].present? && images[0].image.present? %>
										<a href=<%= images[0].image.user.present? ? "/designer/profile/#{images[0].image.user.url_identifier}/#{images[0].image.id}" : "" %>>
											<img src="/repository/thumbnail/<%=images[0].image.file_path%>" alt="Name" />
										</a>
									<%end%>
									</div>
									<div class="image-designer right">
									<% if images[1].present? && images[1].image.present? %>
										<a href=<%= images[1].image.user.present? ? "/designer/profile/#{images[1].image.user.url_identifier}/#{images[1].image.id}" : "" %>>
											<img src="/repository/thumbnail/<%=images[1].image.file_path%>" alt="Name" />
										</a>
									<%end%>
									</div>
									
									<div class="image-big">
									<% if images[2].present? && images[2].image.present? %>
										<a href=<%= images[2].image.user.present? ? "/designer/profile/#{images[2].image.user.url_identifier}/#{images[2].image.id}" : "" %>>
											<div style="width:275px; height:225px; background: url('/repository/thumbnail/<%=images[2].image.file_path%>') no-repeat top left; background-size: cover; border-radius:5px; border: 1px solid #cfcfcf;"></div>
										</a>
									<%end%>
									</div>
								</div>
								
								
								
								<div style="margin-left:15px; padding-bottom:2px;" class="col0 <%=@proj.status=="canceled" ? "disabled" : ""%>">
							<div class="textblock">
								<span>Project Title:</span>
								<%= @proj.title.present? ? @proj.title : "" %> 
								<span>Design Category:</span> 
								<%= @proj.category.present? ? @proj.category.name : "" %>
								<span>Deadline:</span> 
								<%= @proj.deadline.present? ? @proj.deadline.to_formatted_s(:long) : "" %>
								<span>Budget:</span>
								US$<%= @proj.budget.present? ? @proj.budget.to_s : ""%>
								<span>Brief:</span> 
								<%= @proj.info.present? ? @proj.info : "" %>								
							</div>
							<div id="edit_project">
								<% if @proj.status=="started" %>	
									<a href="/designer/reject_project/<%=@proj.id%>" onclick="return confirm('Are you sure you want to reject this project?')"><div class="button black">Reject Project</div></a>
									<!-- <div class="cancel-design"><a href="/site/cancel_design/<%= @proj.id %>" onclick="return confirm('Are you sure you want to cancel this project?')">Cancel project</a></div> -->
								<% elsif @proj.status=="grabbed" %>
									<% if @proj.designer==@author %>
										<!-- You are the chosen designer -->
										<a href="/designer/complete_project/<%= @proj.id %>" onclick="return confirm('Confirm that the project was delivered?')"><div class="button black">Mark Delivered</div></a>								
										<div class="cancel-design"><a href="/designercd .../dezquare/cancel_design/<%= @proj.id %>" onclick="return confirm('Are you sure you want to cancel this project?')">Cancel project</a></div>

										<!-- <a href="/site/cancel_design/<%= @proj.id %>" onclick="return confirm('Are you sure you want to reject this project?')"><div class="button black">Cancel Project</div></a> -->
										
									<% else %>
									 <!-- Someone else was chosen -->
									 <div style="font-family: 'Roboto'; color: red;"><b>Oops! Someone else was chosen for this project.<br/>Better luck next time!</b></div>
									<% end %>	
								
								<% end %>
							</div>
							
																		
						</div>
								
							</div>
						</div>
						
					</section>
					
				</section>
	<% elsif @editable && @proj.blank? %> 
		<h2 style="margin-top:200px; margin-left:-60px;">YOU DON'T HAVE ANY MATCHES</h2>
		<p style="font-family:Roboto; font-size:22px; margin-left:-60px;">Want to get matched? <BR>Upload more designs to increase your chances!</p>
	<% else 
		cover_file = @author.cover.present? ? @author.cover : "designer_cover_default.jpg"
	%>
		<div id="cover" style="background: url(/user_covers/<%=cover_file%>) left no-repeat; background-size: cover;">&nbsp;</div>
		
	<% end %>
				
				
			</section>
			
		</section>
		
		<span id="restore-arrow"></span>
		
		<section id="profile-content">
			
			<section id="profile-photo-bar">
				<div id="profile-photo-bar-content">
					<div id="profile-photo" style="max-width:171px; max-height:171px;">
						<img src="/user_avatars/<%= @author.avatar.blank? ? "designer_profile_default.png" : @author.avatar %>?t=<%=Time.now.to_f%>" id="designer-avatar" alt="Designer" />
						<% if @user==@author %>
						<div id="photo-edit">
							<form data-remote="true" id="avtar_uploader" action="upload_avatar" enctype="multipart/form-data" method="post">
								<input type="file" data-remote="true" name="upload" id="photo-edit-button" style="cursor:pointer; opacity:0; width:100%; height:100%;" onchange="this.form.submit();" />
									<!-- <input type="text" name="testform" id="photo-edit-button" onchange="this.form.submit();"> -->
							</form> 
							<!-- <input type="file" name="upload" id="photo-edit-button" style="cursor:pointer; opacity:0; width:100%; height:100%;" onchange="this.form.submit();" /> -->

						</div>
						<% end %>
					</div>
					<div class="name" <%= @author.full_name.length > 17 ? raw("style='font-size:18px;'") : "" %>><%=  @author.full_name[0..22]  %></div>
					<!-- <address><%= @author.location.present? ? @author.location : "" %></address> -->
					<div id="designer-taste-dash">
						<ul class="profile-config v2-space">
							<%=@author.location.present? ? raw("<li><img alt='House' src='/newver/img/icon-house.png'> #{@author.location}</li>") : "" %>
							<!-- <li>
								<img alt="House" src="/newver/img/icon-house.png">
								<%=@author.location.present? ? @author.location : ""%>
							</li> -->
							<% if @author.languages.any? %>
								<li class="gap">
									<img alt="Globe" src="/newver/img/icon-globe.png">
									<%= raw @author.languages.all.map{|ln| ln.name}.join(content_tag(:span," | ", :class=>"color"))%>
								
								</li>
							<% end %>
							<%if @author.education.present? %>
								<li class="gap">
									<img alt="University" src="/newver/img/icon-university.png">
									<%= @author.education %>
								</li>
							<% end %>
							<% if @author.skills.present? %>
								<li class="gap">
									<img src="/newver/img/icon-people.png" alt="People" />
									<%= @author.skills %>
								</li>
							<% end %>

						</ul>
					</div>
				</div>
				
				<div id="gallery-overlay">  <!-- IMAGE GALLERY -->
					<div class="decimg" style="height:100%; width:16%; left:16%; position:absolute; padding-left: 10px;"></div>
					<div class="glimg" style="height:100%; width:68%; position:absolute; left:32%; <%= @editable ? 'cursor: pointer;' : ''%>" onclick="<%= @editable ? "location.href='/designer/edit_photo/'+this.id" : "" %>"></div>
				</div> 
			</section>
			<section id="profile-overlay-white">
				<section id="design-gallery">
					<section id="design-gallery-content-holder">
						<section id="design-gallery-content" class="clearfix">
						<% if @editable %>	
							<article class="image-item item-w1-h1" onclick="location.href='/designer/edit_photo'">  <!-- UPLOADER -->
								<div><a href="/designer/edit_photo" class="HHH">
									<img src="/newver/img/bkg-plus.png" style="height:88px; width:88px; margin-left:55px; margin-top:55px;" />
									<!-- <span class="photo-info"> -->
										<!-- <span class="name">Designer Full Name</span>
										<span class="title">Image or Content full title</span>
										<span class="heart"></span> -->
									<!-- </span> -->
								</a></div>
							</article>
						<% end %>
							<% @author.images.map{ |img| %>
							<article class="image-item item-w1-h1">
<!-- <%= 
	# link_to content_tag(:div,d.name, :class=>"name"), {:controller=>"game", :action=>"ajax_profile", :dez=>d.id}, :remote => true
	 %> -->
								<a href="/designer/image_gallery/<%= img.id %>" data-remote="true" id="<%=img.id%>">
									<img src="/repository/thumbnail/<%= img.file_path %>" />
									<span class="photo-info">
										<span class="name"><%= img.name.present? ? img.name : "Untitled" %></span>
										<span class="title"><%= img.image_category.present? ? img.image_category.category.name : raw("&nbsp;") %></span>
										<!-- <span class="heart"></span> -->
									</span>
								</a>
							</article>
							
							<% } %>
									

						</section>
					</section>
				</section>

						</section>
					</section>
					
		<section id="full-brief">
			<span class="close"></span>
			<section class="content clearfix">
				<div id="boxer"></div>
			</section>
		</section>
					
<!--				</section>
</section> -->


<% if @image.present? %>
	<script type="text/javascript">
		document.getElementById("<%=@image.id%>").click();
		$("#profile-photo-bar-content").css("left","-1000px");
	</script>
	<div id="gallery-mode"></div>
<% end %>
			
