	
		<div id="content">
			<div class="page-content">
				<%=render "cover"%>
				<div id="sidebar">
					<a href="#" class="orange-button" id="got-new-client">Got a new client?</a>
					<div class="title">Getting started</div>
					<div class="sidebar-white-box">
						<ol id="profile-completion">
							<li>
								<span>1.</span> 
								<a href="#" style="height: 20px; width: 160px;<%=@user.avatar.nil? ? '' : "color:#60e148"%>">Upload profile photo</a>
								<%
								if !@user.avatar.nil?
								%>
								<img src="/img/bkg-checked-2.png" style="float: right;width: 16px;">
								<%end%>
							</li>
							<li>
								<span>2.</span> 
								<a href="#" style="height: 20px; width: 160px;<%=@user.cover.nil? ? '' : "color:#60e148"%>">Upload cover photo</a>
								<%
								if !@user.cover.nil?
								%>
								<img src="/img/bkg-checked-2.png" style="float: right;width: 16px;">
								<%end%>
							</li>
							<li>
								<span>3.</span> 
								<a href="/designer/edit_photo" style="height: 20px; width: 160px;<%=@user.images.length==0 ? '' : "color:#60e148"%>">Start your protfolio</a>
								<%
								if @user.images.length>0
								%>
								<img src="/img/bkg-checked-2.png" style="float: right;width: 16px;">
								<%end%>
							</li>
							<li>
								<span>4.</span> 
								<a href="#" id="get-a-taste">Get a taste</a>
							</li>
							<li>
								<span>5.</span> 
								Get your first match
							</li>
						</ol>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title">
						<h3>Matches</h3>
					</div>
					<div id="matches-intro" class="white-box">
						<div class="col1">
							<p>Matches are exclusive invitations  to design projects for customers that we matched for you, based on their taste.</p>
							<p>Get your first match by boosting your portfolio with your designs.</p>
							<a href="/designer/edit_photo" class="black-button small-font">Boost My Portfolio!</a>
						</div>
						<div class="col2">
							<img src="/img/temp/bkg-match.jpg" />
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	

	
	<div id="window-overlay" <%= params[:show_invite_success]=="true" ? raw('style="display: block"') : ''%>></div>
	
	<%=render "dashboard_popups"%>
	
	<div id="accept-project-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">You’ve got it!</div>
			<div class="subtitle">
				Take your time to learn your customer’s taste<br/>
				and contact your customer with any questions and updates.
			</div>
			<div class="desc">We can’t wait to see your work!</div>
			<a href="mailto:test@mail.com" class="black-button small-font">Contact Customer</a>
		</div>		
	</div>
	