		<div id="content">
			<div class="page-content">
				<%=render "cover"%>
				<%=render "dashboard_sidebar"%>
				<div id="main">
					<%	
					matches = @user.matches
					
					if matches.empty?
						%>
						<div class="white-band-title">
							<h3>Matches</h3>
						</div>
						<div id="matches-intro" class="white-box">
							<div class="col1">
								<p>Matches are exclusive invitations  to design projects for customers that we matched for you, based on their taste.</p>
								<p>Get your first match by boosting your portfolio with your designs.</p>
								<a href="/designer/edit_photo" class="black-button small-font">Boost My Portfolio!</a>
							</div>
							<div class="col2">
								<img src="/img/temp/bkg-match.jpg" />
							</div>
						</div>
						<%
					else
						%>
						<div class="white-band-title">
							<h3>You've Got Matched!</h3>
						</div>
						<div id="match-projects" class="white-box">	
							<%
							matches.reject{|g| g.project.nil? || g.user.nil?}.each{|game|
								%>
									<div class="project">
										<div class="basic">
											<div class="icon">
												<img src="/img/icons/background-image.png" />
											</div>
											<div class="name-and-client">
												<div class="name"><%=game.project.title%></div>
												<div class="client"><%=game.user.full_name%></div>
											</div>
											<div class="action">
												<a href="#" class="black-button esmall-font accept-design">Accept</a>
												<a href="#" class="decline">Decline</a>
											</div>
										</div>
										<div class="detailed">
											<div class="col1">
												<div class="title">About the desired <%=game.category.name%></div>
												<div class="about-project">
													<%=game.project.info%>
												</div>
												<a href="mailto:<%=game.user.email%>" class="contact">
													<span class="icon"></span>
													<span class="text">Contact client</span>
												</a>
											</div>
											<div class="col2">
												<div class="title">Designs Liked by <%=game.user.full_name%></div>
												<div class="designs">
													<%
													images=game.game_image_rates.select{|r| r.value==1}.map{|r| r.image}
													
													images.take(3).each{|image|
														%>
														<div class="design">
															<img src="/repository/<%=image.file_path%>" style="max-width: 119px;max-height: 128px;"/>
														</div>
														<%
													}
													%>
													
												</div>
												<div class="taste-indicators">
													<div class="title"><%=game.user.full_name%> Taste Indicators</div>
													<ul>
														<%
														tags = images.map{|si| si.tags}.flatten.uniq
														
														tags.each{|tag|
															%>
															<li><%=tag.name%></li>	
															<%	
														}
														
														%>
													</ul>
												</div>
											</div>
										</div>
										<div class="last-row">
											<div class="col1">
												<div class="payment">Payment: $<%=game.max_price%></div>
											</div>
											<div class="col2">
												<div class="date"><%=game.created_at.strftime("%I:%M%p, %e %b %Y")%></div>
											</div>
										</div>
									</div>
								<%
							}
							%>
						</div>
						<%
					end
					
					%>
					
				</div>
			</div>			
		</div>
	</div>
	
	<div id="window-overlay" <%= params[:show_invite_success]=="true" ? raw('style="display: block"') : ''%>></div>
	<div id="mark-complete-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Have you completed the design?</div>
			<div class="subtitle">
				Before you mark the job as - "complete", <br/>
				make sure that your client think so too.
			</div>
			<div class="dont-ask clearfix">
				<span class="checkbox">
					<input type="checkbox" name="dont-ask" />
				</span>
				<span class="text">Don't ask me again</span>
			</div>
			<a href="#" class="black-button small-font">Mark Complete</a>
		</div>		
	</div>
	
	<%=render "dashboard_popups"%>
	
	<div id="accept-project-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">You’ve got it!</div>
			<div class="subtitle">
				Take your time to learn your customer’s taste<br/>
				and contact your customer with any questions and updates.
			</div>
			<div class="desc">We can’t wait to see your work!</div>
			<a href="mailto:test@mail.com" class="black-button small-font">Contact Customer</a>
		</div>		
	</div>
	
	<div id="reject-project-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Are you sure?</div>
			<div class="desc">
				Declining an invitation is an irreversable action.<br/>
				This project might be easier than you think!<br/>
				<span>Give your client a chance</span>
			</div>
			<a href="mailto:test@mail.com" class="black-button small-font">Contact Client</a>
			<a href="#" class="decline-anyway">decline anyway</a>
		</div>		
	</div>