
		
		<div id="content">
			<div class="page-content">

				<div class="center-wrap">
					<h2>Edit Portfolio 
						<% unless @image.id.nil?%>
						<a style="float: right;font-size: 14px;" href="/designer/delete_image/<%=@image.id%>">delete</a>
						<%end%> 
					</h2>
					<div class="center-wrap-box edit-photo-form">
						<div class="photo">
							<div class="image" style="width: 235px;">
								<img src="/repository/<%= @image.file_path.nil? ? "upload_image_default.jpg" : @image.file_path%>" style="max-width: 217px;max-height: 400px" />
							</div>
							<form action="/designer/upload_image"  enctype="multipart/form-data" method="post">
							  <div class="fileinputs">
					            <div class="image" style="position: absolute;z-index: 0;background: rgba(31, 107, 7, 0.66);width: 217px;height: 34px;color: white;text-align: center;font-size: 24px;">
					            	Upload Image
					            </div>
					            <input type="hidden" name="id" value="<%=@image.id%>">
					            <input type="file" name="upload" id="upload" 
					               onchange="this.form.submit();" style="opacity: 0.01;z-index: 1;float:left;cursor:hand ;width: 217px;height: 34px;" />
					          </div>
				        	</form>
						</div>
						<form id="info_form" action="/designer/set_image_info/<%=@image.id%>" class="clearfix">
							<div class="image-details">
								<div class="form-row edit-image-title clearfix">
									<label class="font">Title:</label>
									<div class="formfield">
										<input type="text" class="text" name="name" value="<%=@image.name%>"/>
										<label class="abs">Add title to your design</label>
										<label class="form-error">Invalid title</label>
									</div>
								</div>
								<div class="form-row edit-image-type">
									<label class="font">Add a product type:</label>
									<div class="combobox day">
										<input type="hidden" name="category" value="<%=@image.category.nil? ? '' : @image.category.name%>" />
										<div class="value"><%=@image.category.nil? ? 'Select' : @image.category.name%></div>
										<div class="list">
											
											<%
											@categories.each{|c|
												%>
													<div class="option" ><%=c.name%></div>
												<%
											}
											%>
										</div>
									</div>
								</div>
								<div class="form-row add-indecators">
									<label class="font">Add Design Indicators:</label>
								</div>
								<div class="form-row">
									<div class="tags clearfix">
										<%
										l = (@tags.length/3).ceil
										
										tags1=@tags[0..l]
										tags2=@tags[(l+1)..(2*l +1)]
										tags3=@tags[(2*l +2)..(@tags.length)]
										
										%>
										
										<div class="col">										
											<%
											tags1.each{|t|
												%>
												<div class="tag">
													<span class="checkbox <%=@image.tags.include?(t) ? 'checked' : ''%>">
														<input type="checkbox" name="tags[]" value="<%=t.id%>" <%=@image.tags.include?(t) ? 'checked' : ''%>/>
													</span>
													<span class="text"><%=t.name%></span>
												</div>
												<%
												}
											%>
										</div>
										<div class="col">
											<%
											tags2.each{|t|
												%>
												<div class="tag">
													<span class="checkbox <%=@image.tags.include?(t) ? 'checked' : ''%>">
														<input type="checkbox" name="tags[]" value="<%=t.id%>" <%=@image.tags.include?(t) ? 'checked' : ''%>/>
													</span>
													<span class="text"><%=t.name%></span>
												</div>
												<%
												}
											%>
										</div>
										<div class="col">
											<%
											tags3.each{|t|
												%>
												<div class="tag">
													<span class="checkbox <%=@image.tags.include?(t) ? 'checked' : ''%>">
														<input type="checkbox" name="tags[]" value="<%=t.id%>" <%=@image.tags.include?(t) ? 'checked' : ''%>/>
													</span>
													<span class="text"><%=t.name%></span>
												</div>
												<%
												}
											%>
										</div>
									</div>
									<div class="other-tags">
										<label class="other">Other</label>
										<span class="checkbox">
											<input type="checkbox" name="tags-other" value="yes" />
										</span>
										<input type="text" class="text" name="tags-other-value" />
										<label class="form-error">Please select at least one tag</label>
									</div>									
								</div>
								<div class="form-row product-type-area">
									<label class="font">Add a product Description:</label>
									<div class="formfield">
										<label class="abs">You can write here about your creative process, customer needs or any other<br/>interesting information regarding this design</label>
										<textarea name="description"><%=@image.description%></textarea>
										
									</div>
								</div>
								<input type="hidden" name="save_and" id="save_and" value="add">
								<input type="submit" class="button-orange" value="Save &amp; Upload another design" style="width: 428px;" />
								<div class="just-upload-holder">
									<a href="#" class="" onclick="$('#save_and').val('return');$('#info_form').submit();return false">Just upload this design</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>			
		</div>
	</div>
	
	