		<div id="content">
			<div class="page-content">
				<%=render "cover"%>
				<div id="sidebar">
					<a href="#" class="orange-button" id="got-new-client">Got a new client?</a>
					<div class="title">
						<a href="dashboard.html">Back to Dashboard</a>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title">
						<h3>Latest Designs</h3>
					</div>
					<div id="match-projects" class="white-box">
						<%
						#active projects project.status!=:started
						
						@user.projects_in.reverse.reject{|p| ["started", "canceled"].include?(p.status)  }.each{|project|
							%>	
							<div class="project">
								<div class="basic">
									<div class="icon">
										<img src="/img/icons/<%=project.game.category.icon%>.png" />
									</div>
									<div class="name-and-client">
										<div class="name"><%=project.title%></div>
										<div class="client"><%=project.game.user.full_name%></div>
									</div>
									<div class="action wider">
										
										<%
										unless ["delivered", "completed"].include?(project.status)
											%><a href="#" class="black-button esmall-font mark-complete" class="sidebar-mark-complete" onclick="$('#project_mark_complete').attr('href','/designer/complete_project/<%=project.id%>')">Mark Delivered</a><%
										else
											%><%
										end
										
										%>
										Status: <%=project.display_status%>
									</div>
								</div>
								<div class="detailed">
									<div class="col1">
										<div class="title">About the desired <%=project.game.category.name%></div>
										<div class="about-project">
											<%=project.info%>
										</div>
										<a href="mailto:<%=project.game.user.email%>" class="contact">
											<span class="icon"></span>
											<span class="text">Contact client</span>
										</a>
									</div>
									<div class="col2">
										<div class="title">Designs Liked by <%=project.game.user.full_name%></div>
										<div class="designs">
										<%
										images=project.game.game_image_rates.select{|r| r.value==1}.map{|r| r.image}
										
										images.take(3).each{|image|
											%>
											<div class="design">
												<img src="/repository/<%=image.file_path%>" style="max-width: 119px;max-height: 128px;"/>
											</div>
											<%
										}
										%>
										
									</div>
									<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
										<div class="taste-indicators">
											<div class="title"><%=project.game.user.full_name%> Taste Indicators</div>
											<ul>
												<%
												tags = images.map{|si| si.tags}.flatten.uniq
												
												tags.each{|tag|
													%>
													<li><%=tag.name%></li>	
													<%	
												}
												
												%>
											</ul>
										</div>
									</div>
								</div>
								<div class="last-row">
									<div class="col1">
										<div class="payment"><!-- Payment: $<%=project.game.max_price%> --></div>
									</div>
									<div class="col2">
										<div class="date"><%=project.game.created_at.strftime("%I:%M%p, %e %b %Y")%></div>
									</div>
								</div>
							</div>
							
							<%
						}
						
						%>
						
						
						<a href="#" id="dashboard-load-more" class="black-button small-font load-more">
							<span>Show me more</span>
						</a>
					</div>
				</div>
			</div>			
		</div>
		
		
		<div id="window-overlay"></div>
		<div id="mark-complete-popup" class="popup">
			<span class="close"></span>
			<div class="popup-content">
				<div class="title">Have you completed the design?</div>
				<div class="subtitle">
					Before you mark the job as - "complete", <br/>
					make sure that your client think so too.
				</div>
				
				<a href="#" class="black-button small-font" id="project_mark_complete">Mark Complete</a>
			</div>		
		</div>
	