		<div id="content">
			<div class="page-content">
				<%=render "cover"%>
				<%=render "sidebar"%>
				<div id="main">
					<div class="white-band-title two-cols">
						<h3>
							Full Portfolio
							<%if @editable%>
							<a href="/designer/settings" class="edit">
								<img src="/img/pen.png" alt="Edit" />
							</a>
							<%end%>
						</h3>
						<!--
						<div class="col2 filter">
							<a href="#">All</a>
							<span>|</span>
							<a href="#">by Product</a>
							<span>|</span>
							<a href="#">by Date</a>
						</div>
						-->
					</div>
					<div id="designer-samples" class="full-portfolio">
						
						<%
						if @editable
						%>
						<a href="/designer/edit_photo" class="sample upload-image">
							<img src="/img/bkg-upload-photo.png" alt="Upload Image" />
							<span>Upload new designs</span>
						</a>
						
						<%
						end
						
						@author.images.each{|img|
							%>
							<a href="/designer/enlarged_view/<%=img.id%>" class="sample">
								<img src="/repository/<%=img.file_path%>" alt="<%=img.name%>" />
							</a>
							<%
							}
						%>
						
					</div>
					<!--
					<div class="see-all-holder">
						<a href="#">See all &raquo;</a>
					</div>
					-->
				</div>
			</div>			
		</div>
	</div>
	
	
	
	<div id="window-overlay"></div>
	<div id="mark-complete-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Have you completed the design?</div>
			<div class="subtitle">
				Before you mark the job as - "complete", <br/>
				make sure that your client think so too.
			</div>
			<div class="dont-ask clearfix">
				<span class="checkbox">
					<input type="checkbox" name="dont-ask" />
				</span>
				<span class="text">Don't ask me again</span>
			</div>
			<a href="#" class="black-button small-font">Mark Complete</a>
		</div>		
	</div>
	