	<script type="text/javascript" src="/js/jquery-ui-1.8.24.custom.min.js"></script>
		<div id="content">
			<div class="page-content">

				<div class="center-wrap">
					<h2>Settings</h2>
					<div class="center-wrap-box">
						<form action="/designer/set_details" class="settings-form" method="post">
							<h3>Profile Settings:</h3>
							<fieldset>
								<div class="col1">
									<h4>Summary:</h4>
									<div class="formfield clearfix birthday">
										<label>Birthday:</label>
										<%
										day = @user.dob.nil? ? "day" : @user.dob.day
										month =  @user.dob.nil? ? "Month" : @user.dob.strftime("%B")
										year = @user.dob.nil? ? "Year" : @user.dob.year
										%>
										
										<div class="combobox day">
											<input type="hidden" name="day" value="<%=day%>" />
											<div class="value"><%=day%></div>
											<div class="list">
												<%
												31.times{|i|
													%><div class="option"><%=i+1%></div><%
													}
												%>
												
												
											</div>
										</div>
										<div class="combobox month">
											<input type="hidden" name="month" value="<%=month%>" />
											<div class="value"><%=month%></div>
											<div class="list">
												<div class="option">January</div>
												<div class="option">February</div>
												<div class="option">March</div>
												<div class="option">April</div>
												<div class="option">May</div>
												<div class="option">June</div>
												<div class="option">July</div>
												<div class="option">August</div>
												<div class="option">September</div>
												<div class="option">October</div>
												<div class="option">November</div>
												<div class="option">December</div>
											</div>
										</div>
										<div class="combobox year">
											<input type="hidden" name="year" value="<%=year%>" />
											<div class="value"><%=year%></div>
											<div class="list">
													<div class="option">2012</div>
													<div class="option">2011</div>
													<div class="option">2010</div>
													<div class="option">2009</div>
													<div class="option">2008</div>
													<div class="option">2007</div>
													<div class="option">2006</div>
													<div class="option">2005</div>
													<div class="option">2004</div>
													<div class="option">2003</div>
													<div class="option">2002</div>
													<div class="option">2001</div>
													<div class="option">2000</div>
													<div class="option">1999</div>
													<div class="option">1998</div>
													<div class="option">1997</div>
													<div class="option">1996</div>
													<div class="option">1995</div>
													<div class="option">1994</div>
													<div class="option">1993</div>
													<div class="option">1992</div>
													<div class="option">1991</div>
													<div class="option">1990</div>
													<div class="option">1989</div>
													<div class="option">1988</div>
													<div class="option">1987</div>
													<div class="option">1986</div>
													<div class="option">1985</div>
													<div class="option">1984</div>
													<div class="option">1983</div>
													<div class="option">1982</div>
													<div class="option">1981</div>
													<div class="option">1980</div>
													<div class="option">1979</div>
													<div class="option">1978</div>
													<div class="option">1977</div>
													<div class="option">1976</div>
													<div class="option">1975</div>
													<div class="option">1974</div>
													<div class="option">1973</div>
													<div class="option">1972</div>
													<div class="option">1971</div>
													<div class="option">1970</div>
													<div class="option">1969</div>
													<div class="option">1968</div>
													<div class="option">1967</div>
													<div class="option">1966</div>
													<div class="option">1965</div>
													<div class="option">1964</div>
													<div class="option">1963</div>
													<div class="option">1962</div>
													<div class="option">1961</div>
													<div class="option">1960</div>
													<div class="option">1959</div>
													<div class="option">1958</div>
													<div class="option">1957</div>
													<div class="option">1956</div>
													<div class="option">1955</div>
													<div class="option">1954</div>
													<div class="option">1953</div>
												
											</div>
										</div>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="location" value="<%=@user.location%>"/>
										<label class="abs"><%=(@user.location.nil? || @user.location=="") ? "Location" : @user.location%></label>
									</div>
									
									<div class="languages" id="settings-languages">
										
										<%
										#user languages
										
										@user.languages.each{|ul|
											
											%>	
											<div class="formfield clearfix">
												<div class="combobox language">
													<input type="hidden" name="language[]" value="<%=ul.name%>" />
													<div class="value"><%=ul.name%></div>
													<div class="list">
														<%
														Language.all.each{|l|
															%><div class="option"><%=l.name%></div><%
														}
														%>
													</div>
												</div>
												<a href="#" class="button remove" style="display: block">
													<img src="/img/bkg-close.png" alt="Remove" />
												</a>
												
											</div>	
											
											<%
										}
										%>
										
										<div class="formfield clearfix">
											<div class="combobox language">
												<input type="hidden" name="language[]" value="" />
												<div class="value">Add language</div>
												<div class="list">
													<%
													Language.all.each{|l|
														%><div class="option"><%=l.name%></div><%
													}
													%>
												</div>
											</div>
											<a href="#" class="button remove">
												<img src="/img/bkg-close.png" alt="Remove" />
											</a>
											<a href="#" class="button add">
												<img src="/img/icon-plus.png" alt="Add" />
											</a>
										</div>
									</div>
								</div>
								<div class="col2" style="position: relative; top: 0; right: 0px; display: inline; z-index:100;">
									<h4>About You:</h4>
									<div class="formfield">
										<textarea name="about"><%=@user.about%></textarea>
										<label class="abs wt">What would you like us to know about you?</label>
									</div>
								</div>
								<div class="col3" style="position: relative; width: 280px; left: 334px; top: 28px;">
									<h4>Education:</h4>
									<div class="formfield">
										<textarea maxChars="140" name="education"><%=@user.education%></textarea>
										<label class="abs wt">Where did you get those amazing skills?</label>
									</div>
								</div>
								<div class="col4" style="position: relative; width: 280px; left: 0px; top: -173px;">
									<h4>Expertise:</h4>
									<div class="formfield">
										<textarea maxChars="140" name="skills"><%=@user.skills%></textarea>
										<label class="abs wt">Tell us about your skills.</label>
									</div>
								</div>
							</fieldset>
							
							<h3>Pricing levels Settings:</h3>
							<fieldset>
								<div id="pricing-levels-top">
									<h4>Products:</h4>
									<a href="#" class="show">
										Show 
										<img src="/img/arrow-left-black.png" />
									</a>
									<a href="#" class="hide">
										Hide
										<img src="/img/arrow-down.png" />
									</a>
								</div>
								<div id="pricing-levels-sliders">
									<%
									@categories.each{|c|
										uc=@user.designer_categories.select{|dc| dc.category_id==c.id}.first
										avg= c.designer_categories.sum("min_price") / (c.designer_categories.length+1)
										user_value= uc.nil? ? (avg+3) : uc.min_price
										%>
											<div class="entity">
										        <div class="entity-name"><%=c.name%></div>
										        <div class="price-slider-holder">
										        	<div class="price-slider" id="price_<%=c.id%>" data-min="30" data-max="800" data-value="<%=user_value%>"></div>
										        </div>
									        </div>
										<%
									}
									%>
								</div>
									
									
							</fieldset>
							
							<h3>Account Settings:</h3>
							<fieldset>
								<div class="col1">
									<h4>Account Details:</h4>
									<div class="formfield">
										<input type="text" class="text" name="name" value="<%=@user.name%>"/>
										<label class="abs">First name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="l_name"  value="<%=@user.l_name%>"/>
										<label class="abs">Last name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="email"  value="<%=@user.email%>"/>
										<label class="abs">E-mail</label>
									</div>
									<!-- <h5>Privacy:</h5>
									<div class="agree clearfix">
										<span class="checkbox <%=@user.public_profile ? "checked" : ""%>">
											<input type="checkbox" name="public_profile" <%=@user.public_profile ? "checked" : ""%>/>
										</span>
										<span class="text">Make my profile available to everyone.</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox <%=@user.dez_profile ? "checked" : ""%>">
											<input type="checkbox" name="dez_profile"  <%=@user.dez_profile ? "checked" : ""%>/>
										</span>
										<span class="text">Make my profile available only to dezquare users.</span>
									</div> -->
									<div class="direct_links">
										<h4>Direct link to public profile</h4>
									<p><input id="dynamic" onclick="this.value='';" onfocus="this.select()"  onblur="this.value=!this.value?'http://dezquare.com/d/<%=@user.direct_link%>':this.value;"style="width: 208px; display:inline" type="text" class="text" name="direct_link" value="http://dezquare.com/d/<%=@user.direct_link%>" placeholder="YourNickName"><a style="margin-left: 5px;background-color:#000000; color:#ffffff; padding:5px" href="#" id="copy-dynamic">Copy</a></p>
	
									</div>
								</div>
								<div class="col2">
									<h4>Change my password:</h4>
									<div class="formfield">
										<input type="password" class="text" name="old_password" />
										<label class="abs">Enter old password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="new_password" />
										<label class="abs">Choose a new password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="repeat_password" />
										<label class="abs">Re-enter new password</label>
									</div>
									<!-- <h5 class="has-circle">More Settings:</h5>
									<div class="agree clearfix">
										<span class="checkbox <%=@user.suspend ? "checked" : ""%>">
											<input type="checkbox" name="suspend" <%=@user.suspend ? "checked" : ""%>/>
										</span>
										<span class="text">Suspend my account</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="checkbox" name="delete" />
										</span>
										<span class="text">Completly delete my account</span>
									</div> -->
								</div>
							</fieldset>
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Submit" />
								<a href="/designer/profile" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</div>
				
			</div>			
		</div>
	
