	<!-- <script type="text/javascript" src="/js/jquery-ui-1.8.24.custom.min.js"></script> -->
		<section id="content" style="overflow-y: scroll;">		
			<section id="profile-widgets">				
				<section id="profile-table">
					
					<h2>Profile Settings</h2>
					<div class="center-wrap-box">
						<form action="/designer/set_details" class="settings-formxxxx" method="post">
							
						<section id="designer-list">
							<!-- <div class="row clearfix project-expanded"> -->
								
								<div class="col1" style="margin-right:150px; width: 350px;">
									<!-- <h3>Profile Settings:</h3> -->
									
									<div class="formfield clearfix birthday">
										<label>Your Birthday</label>
										<%
										day = @user.dob.nil? ? "day" : @user.dob.day
										month =  @user.dob.nil? ? "Month" : @user.dob.strftime("%B")
										year = @user.dob.nil? ? "Year" : @user.dob.year
										%>
										
										
										
										<div class="combobox date">
											<input type="hidden" name="month" value="<%=month%>" />
											<div class="value"><%=month%></div>
											<ul class="options" style="background: #fff112; z-index:99;">
												<li value_str="">January</li>
												<li value_str="">February</li>
												<li value_str="">March</li>
												<li value_str="">April</li>
												<li value_str="">May</li>
												<li value_str="">June</li>
												<li value_str="">July</li>
												<li value_str="">August</li>
												<li value_str="">September</li>
												<li value_str="">October</li>
												<li value_str="">November</li>
												<li value_str="">December</li>
											</ul>
										</div>
										
										<div class="combobox date">
											<input type="hidden" name="day" value="<%=day%>" />
											<div class="value"><%=day%></div>
											<ul class="options">
												<%
												31.times{|i|
													%><li value_str="<%=i+1%>"><%=i+1%></li><%
													}
												%>
												
												
											</ul>
										</div>
										
										<div class="combobox date">
											<input type="hidden" name="year" value="<%=year%>" />
											<div class="value"><%=year%></div>
											<ul class="options">
													<li value_str="">2012</li>
													<li value_str="">2011</li>
													<li value_str="">2010</li>
													<li value_str="">2009</li>
													<li value_str="">2008</li>
													<li value_str="">2007</li>
													<li value_str="">2006</li>
													<li value_str="">2005</li>
													<li value_str="">2004</li>
													<li value_str="">2003</li>
													<li value_str="">2002</li>
													<li value_str="">2001</li>
													<li value_str="">2000</li>
													<li value_str="">1999</li>
													<li value_str="">1998</li>
													<li value_str="">1997</li>
													<li value_str="">1996</li>
													<li value_str="">1995</li>
													<li value_str="">1994</li>
													<li value_str="">1993</li>
													<li value_str="">1992</li>
													<li value_str="">1991</li>
													<li value_str="">1990</li>
													<li value_str="">1989</li>
													<li value_str="">1988</li>
													<li value_str="">1987</li>
													<li value_str="">1986</li>
													<li value_str="">1985</li>
													<li value_str="">1984</li>
													<li value_str="">1983</li>
													<li value_str="">1982</li>
													<li value_str="">1981</li>
													<li value_str="">1980</li>
													<li value_str="">1979</li>
													<li value_str="">1978</li>
													<li value_str="">1977</li>
													<li value_str="">1976</li>
													<li value_str="">1975</li>
													<li value_str="">1974</li>
													<li value_str="">1973</li>
													<li value_str="">1972</li>
													<li value_str="">1971</li>
													<li value_str="">1970</li>
													<li value_str="">1969</li>
													<li value_str="">1968</li>
													<li value_str="">1967</li>
													<li value_str="">1966</li>
													<li value_str="">1965</li>
													<li value_str="">1964</li>
													<li value_str="">1963</li>
													<li value_str="">1962</li>
													<li value_str="">1961</li>
													<li value_str="">1960</li>
													<li value_str="">1959</li>
													<li value_str="">1958</li>
													<li value_str="">1957</li>
													<li value_str="">1956</li>
													<li value_str="">1955</li>
													<li value_str="">1954</li>
													<li value_str="">1953</li>
												
											</ul>
										</div>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="location" value="<%=@user.location%>"/>
										<label class="abs"><%=(@user.location.nil? || @user.location=="") ? "Location" : @user.location%></label>
									</div>
									
									<div class="languages" id="settings-languages">
										
										<%
										#user languages
										
										@user.languages.each{|ul|
											
											%>	
											<div class="formfield clearfix">
												<div class="combobox language">
													<input type="hidden" name="language[]" value="<%=ul.name%>" />
													<div class="value"><%=ul.name%></div>
													<ul class="options">
														<%
														Language.all.each{|l|
															%><li value_str="<%=l.name%>"><%=l.name%></li><%
														}
														%>
													</ul>
												</div>
												<a href="#" class="button remove" style="display: block">
													<img src="/img/bkg-close.png" alt="Remove" />
												</a>
												
											</div>	
											
											<%
										}
										%>
										
										<div class="formfield clearfix">
											<div class="combobox language">
												<input type="hidden" name="language[]" value="" />
												<div class="value">Add language</div>
												<ul class="options">
													<%
													Language.all.each{|l|
														%><li value_str="<%=l.name%>"><%=l.name%></li><%
													}
													%>
												</ul>
											</div>
											<a href="#" class="button remove">
												<img src="/img/bkg-close.png" alt="Remove" />
											</a>
											<a href="#" class="button add">
												<img src="/img/icon-plus.png" alt="Add" />
											</a>
										</div>
									</div>
							</div>
							<div class="col2">
								<!-- </div>
								<div class="col2" style="position: relative; top: 0; right: 0px; display: inline; z-index:100;"> -->
									<h4>About You:</h4>
									<div class="formfield">
										<textarea name="about"><%=@user.about%></textarea>
										<label class="abs wt">What would you like us to know about you?</label>
									</div>
								<!-- </div>
								<div class="col3" style="position: relative; width: 280px; left: 334px; top: 28px;"> -->
									<h4>Education:</h4>
									<div class="formfield">
										<textarea maxChars="140" name="education"><%=@user.education%></textarea>
										<label class="abs wt">Where did you get those amazing skills?</label>
									</div>
								<!-- </div>
								<div class="col4" style="position: relative; width: 280px; left: 0px; top: -173px;"> -->
									<h4>Expertise:</h4>
									<div class="formfield">
										<textarea maxChars="140" name="skills"><%=@user.skills%></textarea>
										<label class="abs wt">Tell us about your skills.</label>
									</div>
								</div>
							</div>

							
							<!-- <h3>Pricing levels Settings:</h3>
							<fieldset>
								<div id="pricing-levels-top">
									<h4>Products:</h4>
									<a href="#" class="show">
										Show 
										<img src="/img/arrow-left-black.png" />
									</a>
									<a href="#" class="hide">
										Hide
										<img src="/img/arrow-down.png" />
									</a>
								</div>
								<div id="pricing-levels-sliders">
									<%
									@categories.each{|c|
										uc=@user.designer_categories.select{|dc| dc.category_id==c.id}.first
										avg= c.designer_categories.sum("min_price") / (c.designer_categories.length+1)
										user_value= uc.nil? ? (avg+3) : uc.min_price
										%>
											<div class="entity">
										        <div class="entity-name"><%=c.name%></div>
										        <div class="price-slider-holder">
										        	<div class="price-slider" id="price_<%=c.id%>" data-min="30" data-max="800" data-value="<%=user_value%>"></div>
										        </div>
									        </div>
										<%
									}
									%>
								</div>
									
									
							</fieldset> -->
							
							<!-- <h3>Account Settings:</h3> -->
							<!-- <div class-"col2"> -->
								<!-- <div class="col1"> -->
									<!-- <h4>Account Details:</h4>
									<div class="formfield">
										<input type="text" class="text" name="name" value="<%=@user.name%>"/>
										<label class="abs">First name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="l_name"  value="<%=@user.l_name%>"/>
										<label class="abs">Last name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="email"  value="<%=@user.email%>"/>
										<label class="abs">E-mail</label>
									</div> -->
									<!-- <h5>Privacy:</h5>
									<div class="agree clearfix">
										<span class="checkbox <%=@user.public_profile ? "checked" : ""%>">
											<input type="checkbox" name="public_profile" <%=@user.public_profile ? "checked" : ""%>/>
										</span>
										<span class="text">Make my profile available to everyone.</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox <%=@user.dez_profile ? "checked" : ""%>">
											<input type="checkbox" name="dez_profile"  <%=@user.dez_profile ? "checked" : ""%>/>
										</span>
										<span class="text">Make my profile available only to dscovered users.</span>
									</div> -->
									
				<!-- DIRECT LINK TO DESIGNER'S PROFILE -->
									<!-- <div class="direct_links">
										<h4>Direct link to public profile</h4>
										<p>
											http://dscovered.com/d/<input type="text" id="dynamic" onfocus="this.select()" onclick="this.value='';" onchange="this.value= !this.value ? '<%=@user.direct_link%>' : this.value "  
											 style='width: 106px;padding-left: 0px; display:inline' class="text" name="direct_link" value="<%=@user.direct_link%>" placeholder="Your Nickname">
											<a style="margin-left: 5px;background-color:#000000; color:#ffffff; padding:5px" href="#" id="copy-dynamic">Copy</a>
										</p>
	
									</div> -->
									
									
								<!-- </div> -->
								<!-- <div class="col2"> -->
									<!-- <h4>Change my password:</h4>
									<div class="formfield">
										<input type="password" class="text" name="old_password" />
										<label class="abs">Enter old password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="new_password" />
										<label class="abs">Choose a new password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="repeat_password" />
										<label class="abs">Re-enter new password</label>
									</div> -->
									<!-- <h5 class="has-circle">More Settings:</h5>
									<div class="agree clearfix">
										<span class="checkbox <%=@user.suspend ? "checked" : ""%>">
											<input type="checkbox" name="suspend" <%=@user.suspend ? "checked" : ""%>/>
										</span>
										<span class="text">Suspend my account</span>
									</div>
									<div class="agree clearfix">
										<span class="checkbox">
											<input type="checkbox" name="delete" />
										</span>
										<span class="text">Completly delete my account</span>
									</div> -->
								<!-- </div> -->
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Submit" />
								<a href="/designer/profile" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</section>

		</section>
		</section>
		</section>
