<div id="public-holder">
	<img src="/persona/img/<%=raw(@persona.persona_image_backgrounds.first.file_path)%>" />
	<div class="box-holder">
		<div class="page-content">
			<div class="box">
				<div class="title font-size-70" >
					<span>I'm so</span> <%=@persona.name.upcase%>
				</div>
				<div class="description">
					<%=raw(@persona.description)%>
				</div>
				<a href="/game/index/persona" class="button">WHAT'S <span>YOUR</span> TASTE?</a>
			</div>
		</div>
	</div>
	<div class="author">
		<%=raw(@persona.persona_image_backgrounds.first.description)%>//
		<span>
			<a href="/designer/profile/<%=raw(@persona.persona_image_backgrounds.first.user.url_identifier)%>"><%=raw(@persona.persona_image_backgrounds.first.user.full_name.upcase)%></a>
		</span>
	</div>
</div>