
<%

Image.all.each{|image|
	%>
	<a href="/cropper/cropper/<%=image.id%>">
		<img src="/repository/thumbnail/<%=image.file_path%>" width="128" >
	</a>
	<%
	}


%>





<%
unless @image.nil?
%>
<div id="window-overlay" style="display: block;"></div>
 <div id="crop-popup" class="popup" style="display: block;">
  <span class="close"></span>
  <div class="popup-content">
  	<div class="title">Move and Scale the frame to crop</div>
	<form action="/cropper/crop_image" method="post">
		<table cellspacing="0" cellpadding="0">
		 <tr>
		  <td>
		   <img src="/repository/<%= @image.file_path.nil? ? "upload_image_default.jpg" : @image.file_path%>?t=<%=Time.now.to_f%>" class="cropped-image" style="max-width: 450px;max-height: 500px"/>
		  </td>        
		 </tr>
		</table>
		<input type="hidden" name="id" value="<%=@image.id%>" />
		<input type="hidden" size="4" class="x1" name="x1" />
		<input type="hidden" size="4" class="y1" name="y1" />
		<input type="hidden" size="4" class="x2" name="x2" />
		<input type="hidden" size="4" class="y2" name="y2" />
		<input type="hidden" size="4" class="w" name="w" />
		<input type="hidden" size="4" class="h" name="h" />
		<input type="hidden" size="4" class="sr" name="sr" />
		
	
	</form>
   
<a href="#" class="black-button small-font">Save</a>
<br />

			  </div>  
		 	</div>
<%
end
%>
