<div id="cover">
	<div id="cover">
		<div id="cover-image">
			
			<form action="/designer/upload_cover"  enctype="multipart/form-data" method="post">
			  <div class="fileinputs">
	            <div style="position: absolute;z-index: 0;">
	            	<img  id="cover-preview" src="/user_covers/<%= @author.cover.nil? ? "designer_cover_default.jpg" : @author.cover%>?t=<%=Time.now.to_f%>" alt="My Cover Image" />
	            </div>
	            <% 
	            if @editable
	            %>
	            <span class="edit-field"></span>
	            <input type="file" name="upload" id="upload" 
	               onchange="this.form.submit();" style="opacity: 0.01;z-index: 1;float:left;margin: 0px 0px;cursor:pointer; width: 985px ; height: 241px; " />
	            <%
	            end
	            %>
	          </div>
        	</form>


		</div>
		<div id="profile-bar" class="clearfix"  >
			<div id="profile-photo"  style="overflow:hidden  ">
				
				<form action="/designer/upload_avatar"  enctype="multipart/form-data" method="post">
				  <div class="fileinputs">
		            
		            <div style="overflow: hidden; width: 117px; height: 117px;">
			         <img src="/user_avatars/<%= @author.avatar.nil? ? "designer_profile_default.jpg" : @author.avatar%>?t=<%=Time.now.to_f%>" alt="My Profile Photo" id="preview" />
			         
			        </div>
		            <% 
		            if @editable
		            %>
		            
		            <span class="edit-field"></span>
		            <input type="file" name="upload" id="upload" 
		               onchange="this.form.submit();" style="opacity: 0.01;z-index: 1;float:left;margin: 0px 0px;cursor:pointer ;position: absolute; top: 0;z-index: 18; width: 117px ; height: 117px; " />
		          	<%
		            end
		            %>
		          </div>
		          
	        	</form>
	        	
			</div>
			<h2 id="profile-name"><a href="<%= @author.designer ? "/designer/profile/#{@author.url_identifier}" : ""%>?t=<%=Time.now.to_f%>"><%=@author.full_name%></a></h2>
			
			<%
			if @author.designer
			%>
			<div id="profile-status">
		    	<div class="current" id="availability_selector">
		        	<span  class="<%=@author.available ? "available" : "unavailable"%>"><%=@author.available ? "Available" : "Unavailable"%></span>
		    	</div>
	    	    <% 
	            if @editable
	            %>
		        
			    <div class="edit" onclick="$('input[name=stat]').val($('#availability_selector').text());$('#availability').submit()">
			    	<span class="available">Available</span> / <span class="unavailable">Unavailable</span>
			    </div>
		    	<form id="availability" action="/designer/set_availability">
		    		<input type="hidden" name="stat" value="Available" />
		    	</form>
	          	<%
	            end
	            %>
		    
		    
		    </div>
			<%
            end
            %>
			
		</div>
	</div>
</div>



<%
if params[:crop_cover]=="true" 
	%>
<div id="window-overlay" style="display: block;"></div>	
<div id="crop-popup" class="popup for-cover" style="display: block; top: 210px;">
	<span class="close"></span>
	<div class="popup-content">
		<div class="title">Move and Scale the frame to crop</div>
	   	<form action="/site/crop_cover" method="post">
	    	<table cellspacing="0" cellpadding="0">
			    <tr>
				    <td>
				    	<img src="/user_covers/<%= @author.cover.nil? ? "designer_cover_default.jpg" : @author.cover%>?t=<%=Time.now.to_f%>" class="cropped-image"  style="max-width: 450px;max-height: 500px" />
				    </td>        
			    </tr>
	    	</table>
	
			<input type="hidden" size="4" class="x1" name="x1" />
			<input type="hidden" size="4" class="y1" name="y1" />
			<input type="hidden" size="4" class="x2" name="x2" />
			<input type="hidden" size="4" class="y2" name="y2" />
			<input type="hidden" size="4" class="w" name="w" />
			<input type="hidden" size="4" class="h" name="h" />
			<input type="hidden" size="4" class="sr" name="sr" />
	   </form>
	   
	   <a href="#" class="black-button small-font">Done!</a>
	</div>  
</div>	
	
	<%
end

if params[:crop_avatar]=="true"
	%>
<div id="window-overlay" style="display: block;"></div>
<div id="crop-popup" class="popup for-profile" style="display: block; top: 210px;">
	<span class="close"></span>
	<div class="popup-content">
		<div class="title">Move and Scale the frame to crop</div>
		<form action="/site/crop_avatar" method="post">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<img src="/user_avatars/<%= @author.avatar.nil? ? "designer_profile_default.jpg" : @author.avatar%>" class="cropped-image" alt="Flowers" />
					</td>        
				</tr>
			</table>
		
			<input type="hidden" size="4" class="x1" name="x1" />
			<input type="hidden" size="4" class="y1" name="y1" />
			<input type="hidden" size="4" class="x2" name="x2" />
			<input type="hidden" size="4" class="y2" name="y2" />
			<input type="hidden" size="4" class="w" name="w" />
			<input type="hidden" size="4" class="h" name="h" />
			<input type="hidden" size="4" class="sr" name="sr" />
		</form>
	   
		<a href="#" class="black-button small-font">Done!</a>
	</div>  
</div>
	
	
	<%
end
%>



