<!-- <div id="contact-popup" class="popup" style='display:block'>
		<div class="popup-content"> -->
	<section id="content">	
		<section id="content-inside" style="margin-top:20px;"> 
			<h2 class="centered">Get in touch with us!</h2>
				<section class="sidebar-alt-screens">
					
				<section class="sidebar-alt-screen sidebar-register-screen" id="sidebar-register-classic">
				<section class="register-screen-content" style="margin-top: 20px;">	

<!-- <div id="contact-popup">
	<div class="page-content">
		<div class="center-wrap">	 -->			
			<!-- <div class="title"><h2>Get in touch with us!</h2></div> -->
			<!--<form action="/pender/register_designer_success" method="post" id="contact-form">-->
			<div class="center-wrap-box static-page tall" style="display:<%= @confirm.present? ? 'none' : 'block' %>;">
						<%= form_for @message, :url => contact_path do |form| %>
							<% if @message.errors.any? %>
    			 				<div id="error_explanation">
     								<span style="color: red"><%= pluralize(@message.errors.count, "error") %> prohibited your post from being sent:</span>
      								<%= !@error.nil? ? @error : ""%>
    							</div>
  							<% end %>
  							<!-- <fieldset> -->
  						<% if @user.present? %>
  							<p><div class="sidebar-bottom-note">Name: <%=@user.full_name%></div></p>
						<% else %>
							<div class="formfield">
								<!--<input type="text" class="text" name="name" />-->
								<%= form.text_field :name, :class => "text", :placeholder=>"Name" %>
								<!-- <label class="abs">Name</label> -->
								<span class="vchecked"></span>
								<label class="form-error">Invalid Name</label>
							</div>
							<div class="formfield">
								<%= form.text_field :email, :class => "text", :placeholder=>"E-mail address" %>
								<!-- <label class="abs">E-mail address</label> -->
								<span class="vchecked"></span>
								<label class="form-error">Invalid Email Address</label>
							</div>
						<%end%>
							<div class="formfield">
								<%= form.text_field :subject, :class =>"text", :placeholder=>"Subject" %>
								<!-- <label class="abs">Subject</label> -->
								<span class="vchecked"></span>
								<label class="form-error">Invalid Subject</label>
							</div>
							<div class="formfield">
								<%= form.text_area :body, :class =>"text", :placeholder=>"Message", :style=>"width:377px; border: 1px solid #ECECEC;" %>
								<!-- <label class="abs">Message</label> -->
								<span class="vchecked"></span>
								<label class="form-error">Invalid Message</label>
							</div>
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Send" />
							</div>		
						<!--</form>-->
						<label class="form-error" <%= !@error.nil? ? "style='display:block;'" : ""%>><%=@error%>RONEN</label>
						<!-- </fieldset> -->
						<%end%>
				
				<div class="foot">
					<div class="sidebar-bottom-note centered">You can also shoot us an <a href="mailto:info@dezquare.com">email</a></div>
				</div>
				
			<!-- </div>			
		</div>
	</div> -->
</div>

<div id="contact-us-popup" class="popup" style="display:<%= @confirm.present? ? 'block' : 'none' %>;">
	<br>
<div class="popup-content">
	<center>
	<div class="sidebar-bottom-note centered">Thank you!</div>
	<BR>
	<div class="sidebar-bottom-note centered" style="margin-bottom:20px;">Your message has been sent.</div>
	<BR>
	<form action="/site/index" method="post" id="contact-confirm-form">
		<div class="submit clearfix">
			<input type="submit" class="button-orange" value="OK" />
		</div>		
	</form>
	</center>
	<br><br>
</div>
</div>

<div id="contact-us-popup" class="popup" style='display:none'>
<div class="popup-content">
	<div class="title">Get in touch with us!</div>
<%= form_for @message, :url => contact_path do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: red"><%= pluralize(@message.errors.count, "error") %> prohibited your post from being sent:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="fields">
    <div class="field">
      <%= form.label :name, :html => {:class =>"abs"} %>
      <%= form.text_field :name %>
      <span class="vchecked"></span>
      <label class="form-error">Invalid Name</label>
    </div>
    
    <div class="field">
      <%= form.label :email, :html => {:class =>"abs"} %>
      <%= form.text_field :email %>
      <span class="vchecked"></span>
      <label class="form-error">Invalid Email Address</label>
    </div>
    <div class="field">
      <%= form.label :subject, :html => {:class =>"abs"} %>
      <%= form.text_field :subject %>
      <span class="vchecked"></span>
      <label class="form-error">Invalid Subject</label>
    </div>
    
    <div class="field">
      <%= form.label :body, :html => {:class =>"abs"} %>
      <%= form.text_area :body %>
      <span class="vchecked"></span>
      <label class="form-error">Invalid Message</label>
    </div>
  </fieldset>
  <div class="submit clearfix">
  	<fieldset class="actions">
   	 <input type="submit" class="button-orange" value="Send" />
  	</fieldset>
  </div>
<% end %>
</div>
</div>

</section>
</section>
</section>
</section>
</section>
<!-- </section> -->
