		<div id="content">
			<div class="page-content">
				
				<%=render "cover"%>
				<div id="sidebar">
					<a href="/game/index" class="orange-button">Get a new design?</a>
					<%
					projects = @user.projects_out.reverse.reject{|p| ["started", "canceled",nil].include?(p.status)  }
					
					
					if projects.length>0
					%>
					<div class="title">
						<a href="/site/latest_designs">Latest Designs</a>
					</div>
					<%
					end
					%>
					<div class="latest-designs">
						<%
						#active projects project.status!=:started
						
						projects.each{|project|
							%>	
							<div class="design">
								<div class="col1">
									<div class="name">
										<a href="/site/latest_designs"><%=project.title%></a>
									</div>
									<div class="by">By <span><%=project.designer.nil? ? "" : project.designer.full_name%></span></div>
									<div class="started">Started: <%=project.created_at.strftime("%e %b")%></div>
									<div class="status">Status: <%=project.display_status%></div>
								</div>
								<div class="col2">
									<%
									unless ["completed"].include?(project.status)
										%>
										<a href="/site/complete_project/<%=project.id%>" class="sidebar-mark-complete">Mark<br/>Complete!</a>
										<%	
									else
										%>
										<div class="completed">
											<img src="/img/bkg-checked-2.png" /><br/>
											Completed
										</div>
										<%
									end
									%>
									
								</div>
							</div>	
							
							
							<%
						}
						
						if projects.length==0
							%>
							<span>No designs in progress</span>
							<%
						end
						
						%>
					</div>
				</div>
				<div id="main">
					<div class="white-band-title">
						<h3>You've Got Matched!</h3>
					</div>
					
					<div id="match-projects" class="white-box">
						<%
						#initiated projects project.status==:started
						
						@user.projects_out.select{|p| p.status=="started"}.reverse.each{|project|
							%>
							
							<div class="project">
								<div class="basic">
									<div class="icon">
										<img src="/img/icons/<%=project.category.icon%>.png" />
									</div>
									<div class="name-and-client">
										<div class="name single"><%=project.title%></div>
									</div>
									<div class="action wider">
										<a href="#" class="black-button esmall-font cancel-design" onclick="$('#cancel_id').val('<%=project.id%>')">Cancel Design</a>
										<a href="#" class="pending">Pending Kickoff</a>
									</div>
								</div>
								<div class="detailed">
									<div class="col1">
										<div class="title">About the desired <%=project.category.name%></div>
										<div class="about-project">
											<%=project.info%>
										</div>
									</div>
									<div class="col2">
										<div class="title">Top Matches</div>
										<div class="top-matches">
											<%
											unless project.game.nil?
												project.game.designers.each{|dez|
													
													%>
													<div class="match">
														<div class="profile-image">
															<img src="/user_avatars/<%= dez.avatar.nil? ? "designer_profile_default.jpg" : dez.avatar%>" alt="My Profile Photo" style="max-width: 56px"/>
														</div>
														<div class="details">
															<div class="big">
																<a target="_blank" href="/designer/profile/<%=dez.url_identifier%>"><%=dez.full_name%></a>
															</div>
															<div class="small"><%=(dez.location.nil? || dez.location=="") ? '' : "From #{dez.location}"%></div>
															<div class="small">Languages: <%=raw(dez.languages.map{|l| l.name}.join(" <span>&amp;</span> "))%></div>
															
														</div>
														<div class="status">Pending</div>
													</div>		
													<%
													}
											else
												%>
												No game 
												<%	
											end
											%>
										</div>
										<div class="title">Colors</div>
										<div class="fav-colors">
	<% if project.game.present? && project.game.dominant_colors.present? %>					
		<p align="center"><table style="border:1px solid; border-color: #000000; border-collapse: collapse;" width="214" cellpadding="0" cellspacing="0">
		<tr style="border:1px solid; border-color: #000000; border-collapse: collapse;">
			<% project.game.dominant_colors.each do |col| %>
				<td height="30" style="background-color:<%= col %>; border:1px solid; border-color: #000000; border-collapse: collapse;">&nbsp;</td>
			<% end %>
		</tr>
		</table></p>
	<% end %>
										</div>
									</div>
								</div>
								<div class="last-row">
									<div class="col1">
										<div class="payment"><!--Cost: <%=project.game.nil? ? 'Unspecified' : "$#{project.game.max_price}"%>--></div>
									</div>
									<div class="col2">
										<div class="date"><%=project.created_at.strftime("%I:%M%p, %e %b %Y")%></div>
									</div>
								</div>
							</div>		
							<%
						}
						%>					
					</div>
				</div>
			</div>			
		</div>
		
	<div id="cancel-design-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Are you sure you want<br/>to cancel the design?</div>
			<div class="subtitle">This action can’t be undone</div>
			<div class="buttons">
				<form id="cancel_design_form" action="/site/cancel_design" method="post">
					<input type="hidden" id="cancel_id" name="id"/>
				</form>
				<a href="#" class="back">Back</a>
				<a href="#" class="black-button small-font" onclick="$('#cancel_design_form').submit();return false;">Cancel Design</a>
			</div>
		</div>		
	</div>		
	
	
		
	