	<section id="inside" style="margin-top:30px;">	
		<section id="content">
			<!-- <section id="top-bar" class="clearfix">
				<div class="user-info">
					<div class="content1">
						<h2 style="<%= @author.location.blank? ? "padding-top: 17px;" : "" %>">
							<a href="#"><%= @author.full_name[0..15] %></a>
						</h2>
					</div>
					<div class="content2">
						<address><%= @author.location.present? ? @author.location[0..30] : "" %></address>
					</div>
					<span class="decorator"></span>
				</div>
				<nav>
					
					<a href="/game/index/" class="active">
						<span class="content">
							<span class="text">New Match</span>
						</span>
					</a>
				</nav>
			</section> -->
			<section id="profile-widgets">
				
				<section id="profile-table">
					<div class="top-row clearfix">
						
						<div class="huge-title">My Matches</div>
						
						<div class="select-area form">
						<form name="select-project" id="select-project" action="/site/dashboard">
							<div class="label color">select project:</div>
							<div class="selector formfield clearfix">
								
								<div class="combobox country" id="select-project-combo">
									<div class="value"><%=@proj.title%></div>
									<input type="hidden" name="proj_id" value="<%= @proj.id %>" />
									<ul class="options">
										<% @author.projects_out.sort.reverse.map{ |pr| %>
											<% if pr.status.present? %>
												<li value_str="<%=pr.id%>"><%=pr.title%></li>
											<% end %>
										<% } %>
									</ul>
									
								</div>
								
							</div>
							<div class="status">Status: <span class="inside"><%= @proj.status.present? ? @proj.display_status : "N/A" %></span></div>
						</form>
						</div>
						
					</div>
					
					
					<section id="designer-list">
						<div class="col0 <%=@proj.status=="canceled" ? "disabled" : ""%>">
							<div class="textblock">
								<span>Project Title:</span>
								<%= @proj.title.present? ? @proj.title : "" %> 
								<span>Design Category:</span> 
								<%= @proj.category.present? ? @proj.category.name : "" %>
								<span>Deadline:</span> 
								<%= @proj.deadline.present? ? @proj.deadline.to_formatted_s(:long) : "" %>
								<span>Budget:</span>
								US$<%= @proj.budget.present? ? @proj.budget.to_s : ""%>
								<span>Brief:</span> 
								<%= @proj.info.present? ? @proj.info : "" %>								
							</div>
							<div id="edit_project">
								<% unless ["canceled","delivered","completed"].include?(@proj.status) %>
									<a href="/site/edit_project/<%= @proj.id %>"><div class="button black">Edit Project</div></a>
									<div class="cancel-design"><a href="/site/cancel_design/<%= @proj.id %>" onclick="return confirm('Are you sure you want to cancel this project?')">Cancel project</a></div>
								<% end %>
							</div>
							
																		
						</div>
				<div class="allrows">	
					<% 
						designers = Array.new
						if @proj.designer.present?
							designers << @proj.designer 
							@proj.game.designers.reject{|dz| dz.id==@proj.designer.id}.map{ |dz|
								designers << dz
							}
						else	
							designers = @proj.game.designers
						end
					logger.debug "===========================#{designers.inspect}"
					
					%>
					<% #@proj.game.designers.map{|dez| 
						designers.map{|dez| 
							chosen = (["grabbed","delivered","completed"].include?(@proj.status) && @proj.designer.id==dez.id)
					%>
						<div class="row clearfix <%= (@proj.status!="started" && !chosen) ? "disabled" : "" %>">
						
							<div class="col1">
								<div class="image">
									<a href="/designer/profile/<%= dez.url_identifier %>" target="_blank">
									<img src="/user_avatars/<%= dez.avatar.blank? ? "designer_profile_default.jpg" : dez.avatar %>" alt="Name" /></a>
								</div>
								<div class="data">
									<div class="name" style="<%= dez.name.length>8 ? "font-size:20px; word-wrap:break-word; word-break:break-all;" : ""%>">
										<%= dez.name[0..13] %>
										<% if chosen %>
											<span class="vchecked-designer"></span>
										<% end %>
									</div>
									<div class="position">Designer</div>
									<div class="button-zone">
										<% if @proj.status.present? && (@proj.status=="started" || chosen) %>
											<a href="mailto:<%= dez.email %>"><div class="letter"></div></a>
											<% if @proj.status=="grabbed" && chosen %>
												<%= link_to content_tag(:div,"Mark Completed", :class=>"button green black-hover",:id=>"long-button"), {:controller=>"site", :action=>"complete_project", :proj=>@proj.id}, :remote => true %>
											<% end %>
										<% end %>
										<% if @proj.status.present? && @proj.status=="started" %>
											<!-- <a href="#" class="button green black-hover">Hire me</a> -->
											<%= link_to content_tag(:div,"Hire me", :class=>"button green black-hover"), {:controller=>"site", :action=>"grant_project", :proj=>@proj.id, :dez=>dez.id }, :remote => true %>
										<% end %>
									</div>
								</div>
							</div>
							
							<div class="col2">
								<div class="designs">
									<div class="title">latest designs:</div>
									<% tmp = dez.images.last(3).map{|h| h.file_path}
										more = 3 - tmp.length
										#logger.debug "===========######====########=======#{tmp.inspect}"
										#logger.debug "===========######====########=======#{more.inspect}"
										
										more.times do
											tmp << ""
										end
									
										tmp.map{ |t|
									%>
										
											<div class="image" style="height: 90px;">
											<% if t.present? %>
												<!-- <a href="#"> -->
													<img src="/repository/thumbnail/<%=t%>" alt="Name" />
												<!-- </a> -->
											<%end%>
											</div>
									
									
									<% } %>
									<!-- <% dez.images.last(3).map{ |img| %>
										<div class="image">
											<a href="#">
												<img src="/repository/thumbnail/<%=img.file_path%>" alt="Name" />
											</a>
										</div>
									<% } %> -->
									<!-- <div class="image">
										<a href="#">
											<img src="/newver/img/temp/designer4.jpg" alt="Name" />
										</a>
									</div>
									<div class="image">
										<a href="#">
											<img src="/newver/img/temp/designer5.jpg" alt="Name" />
										</a>
									</div> -->
								</div>
								
								
							</div>
						
						</div>
					<% } %>	
				</div>
						
					</section>
					
				</section>
				
				<!-- <span id="restore-arrow"></span> -->				
			</section>
			
		</section>
		
			
		</section>
