		<div id="content">
			<div class="page-content shopper-settings">

				<div class="center-wrap">
					<div class="center-wrap-box">
						<form action="/site/set_details" class="settings-form" method="post">
							<fieldset>
								<div class="col1">
									<h4>Account Details:</h4>
									<div class="formfield">
										<input type="text" class="text" name="name" value="<%=@user.name%>"/>
										<label class="abs"><%=@user.name%></label>
										<label class="form-error">Invalid First name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="l_name" value="<%=@user.l_name%>"/>
										<label class="abs"><%=@user.l_name%></label>
										<label class="form-error">Invalid Last name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="email" value="<%=@user.email%>"/>
										<label class="abs"><%=@user.email%></label>
										<label class="form-error">Invalid Email</label>
									</div>
									
								</div>
								<div class="col2">
									<h4>Change my password:</h4>
									<div class="formfield">
										<input type="password" class="text" name="old_password" />
										<label class="abs">Enter old password</label>
										<label class="form-error">Wrong password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="new_password" />
										<label class="abs">Choose a new password</label>
										<label class="form-error">Invalid password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="repeat_new_password" />
										<label class="abs">Re-enter new password</label>
										<label class="form-error" <%=params[:error]=="PASSWORD" ? "style='display:block'" : ""%>>Password don't match</label>
									</div>
								</div>
							</fieldset>
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Submit" />
								<a href="/site/dashboard" class="cancel">Cancel</a>
							</div>
						</form>
					</div>
				</div>
				
			</div>			
		</div>
	<p style="height: 400px;">&nbsp;</p>