	<section id="content">	
		<section id="content-inside"> 
			<h2 class="centered">Account Settings</h2>
				<section class="sidebar-alt-screens">
					
				<section class="sidebar-alt-screen sidebar-register-screen" id="sidebar-register-classic">
				<section class="register-screen-content" style="margin-top: 20px;">	

						<form action="/site/set_details" class="settings-formxxx" method="post">
							<!-- <fieldset> -->
								<div class="col1">
									<div class="form-sub-head">Account Details:</div>
									<div class="formfield">
										<input type="text" class="text" name="name" value="<%=@user.name%>"/>
										<label class="abs"><%=@user.name%></label>
										<label class="form-error">Invalid First name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="l_name" value="<%=@user.l_name%>"/>
										<label class="abs"><%=@user.l_name%></label>
										<label class="form-error">Invalid Last name</label>
									</div>
									<div class="formfield">
										<input type="text" class="text" name="email" value="<%=@user.email%>"/>
										<label class="abs"><%=@user.email%></label>
										<label class="form-error">Invalid Email</label>
									</div>
	
	<!-- <% if @user.dominant_colors.present? %>	
		<div><h4>Your Colors</h4></div>
		<div class="fav-colors">			
			<p align="center"><table style="border:1px solid; border-color: #000000; border-collapse: collapse;" width="214" cellpadding="0" cellspacing="0">
			<tr style="border:1px solid; border-color: #000000; border-collapse: collapse;">
				<% @user.dominant_colors.each do |col| %>
					<td height="30" style="background-color:<%= col %>; border:1px solid; border-color: #000000; border-collapse: collapse;">&nbsp;</td>
				<% end %>
			</tr>
			</table></p>
		</div>
	<% end %> -->
										
								</div>
								
								<div class="col2">
									<div class="form-sub-head">Change my password:</div>
									<div class="formfield">
										<input type="password" class="text" name="old_password" />
										<label class="abs">Enter old password</label>
										<label class="form-error">Wrong password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="new_password" />
										<label class="abs">Choose a new password</label>
										<label class="form-error">Invalid password</label>
									</div>
									<div class="formfield">
										<input type="password" class="text" name="repeat_new_password" />
										<label class="abs">Re-enter new password</label>
										<label class="form-error" <%=params[:error]=="PASSWORD" ? "style='display:block'" : ""%>>Passwords don't match</label>
									</div>
								</div>
							<!-- </fieldset> -->
							<!-- <label style="color:red;" class="clearfix">Please note: If you change your email, you will be asked to confirm your new email address.</label> -->
							<div class="submit clearfix">
								<input type="submit" class="button-orange" value="Submit" style="margin-bottom:5px;" />
								<a href="/site/dashboard" class="cancel" style="text-decoration: underline;">Cancel</a>
							</div>
						</form>
					</section>
					</section>
					</section>
	<!-- <p style="height: 400px;">&nbsp;</p> -->
</section>
</section>
