<!DOCTYPE html>
<html>
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" > 
	<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.24.custom.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script></head>
<body>
	<div id="page">
		<div id="header">
			<div class="page-content clearfix">
				<h1 id="logo">
					<a href="/site/index">
						<img src="/img/logo.png" alt="Dezquare" />
					</a>
				</h1>
				<%=render "user_options"%>
			</div>
		</div>
		
		<div id="content">		
			<div class="page-content">
				
				<div id="game-bar" class="active-<%=@game.type.labels.index(@game.stage.progress_label)+1%>">
					<%
					i=0
					@game.type.labels.each{|l|
						i+=1
						active= @game.stage.progress_label==l ? "active" : ""
						  
						%>
						<div class="step step<%=i%> <%=active%>">
							<span class="number"><%=i%></span>
							<span class="name"><%=l%></span>
						</div>
						<%
					}
					
					%>
					
					
				</div>
				
				<%= yield %>
				
				
			</div>			
		</div>
	</div>
	
	<div id="footer">
		<div class="page-content">
			<div id="copyright">&copy;dèzquare 2012</div>
			<div id="footer-links">
				<a href="/site/about">About</a>
				<span>|</span>
				<a href="#">Privacy Policy</a>
				<span>|</span>
				<a href="#">Terms of Use</a>
			</div>
		</div>
	</div>
	
	<div id="window-overlay"></div>
	
	<div id="login-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Login to dezquare!</div>
			<form action="index.html" method="post">
				<div id="login-alert" class="form-error">Unknown Email Address or Password</div>
				<div class="formfield">
					<input type="text" class="text" name="email" />
					<label class="abs">E-mail address</label>
				</div>
				<div class="formfield">
					<input type="password" class="text" name="password" />
					<label class="abs">Password</label>
				</div>
				<div class="submit clearfix">
					<span class="remember-me">
						<span class="checkbox">
							<input type="checkbox" name="remember-me" />
						</span>
						<span class="text">Remember Me</span>
					</span>
					<input type="submit" class="button-orange" value="Submit" />
				</div>		
				<div class="forgot">
					<a href="#" id="forgot-password">I forgot my password</a>
				</div>
			</form>
			<div class="foot">
				Don't have an account? <a href="register.html">Sign-up!</a>
			</div>
		</div>		
	</div>
	
	<div id="forgot-popup" class="popup">
		<span class="close"></span>
		<div class="popup-content">
			<div class="title">Get a new Password</div>
			<form action="" method="post">
				<div class="formfield">
					<input type="text" class="text" name="email" />
					<label class="abs">E-mail address</label>
					<label class="form-error">Invalid email address</label>
				</div>
				<div class="submit clearfix">
					<input type="submit" class="button-orange" value="Submit" id="submit-fp" />
				</div>		
			</form>
		</div>
	</div>
	
</body>
</html>