<%= javascript_include_tag "application" %>
<% if @game.game_type_stage_id.to_f < 4 || @game.game_type_stage_id.to_f == 5

		# logger.debug "################## GAME :::  #{@game.game_type_id.inspect}"
%>


<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	
	
	<script type="text/javascript" src="/newver/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/newver/js/global.js"></script>
	<script type="text/javascript" src="/newver/js/game-persona.js"></script>
</head>
<body>
	<section id="page">
		<%=render "layouts/header"%>
		<!-- <header id="header" class="clearfix lighter">
			<h1 id="logo">
				<a href="/home/index">
					<img src="/newver/img/logo.png" alt="Dezquare" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
			
			<div class="links">
				<a href="/home/how-it-works" class="small-link">How does it work?</a>
				<a href="/designer_signup" class="btn btn-1">Are you a designer?</a>
				<a href="/login" class="btn btn-2">Login</a>
			</div>
		</header> -->

		<!--<div id="header">
			<div class="page-content clearfix">
				<%=render "logo"%>
				<%=render "user_options"%>
			</div>
		</div>-->
		<section id="content">
			<%=render "site/google_a"%>
			<!-- <p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p> -->
			<%= yield %>
		</section>
	</section>
</body>
</html>

<%else%>


	<!DOCTYPE html>
<html>
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" > 
	<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.24.custom.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<link href="/newver/css/newheader.css" media="screen" rel="stylesheet" type="text/css" > 
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<%=render "google_a"%>
</head>
<body>
	<div id="page">
		<!-- <div id="header">
			<div class="page-content clearfix">
				<%=render "logo"%>
				<%=render "user_options"%>
			</div>
		</div> -->
		<!--<%=render "layouts/header"%>-->
				<header id="header" class="clearfix lighter">
			<h1 id="logo" style="margin-top:0px;">
				<a href="/home/index">
					<img src="/newver/img/logo.png" alt="Dezquare" width="172" height="42" />
				</a>
			</h1>
			<div class="square"></div>
			
			<div class="links">
				<a href="/home/how-it-works" class="small-link">How does it work?</a>
				<a href="/designer_signup" class="btn btn-1">Are you a designer?</a>
				<a href="/login" class="btn btn-2">Login</a>
			</div>
		</header>
		
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<div id="content" style="margin-top:-12px;">		
			<div class="page-content" style="margin-top:90px;">
			
		<!--		<%
				unless @game.stage.progress_label.nil? || @game.stage.progress_label.length==0 
				
				%>
				
				<div id="game-bar" class="active-<%=@game.type.labels.index(@game.stage.progress_label)+1%>">
					<%
					i=0
					@game.type.labels.each{|l|
						i+=1
						active= @game.stage.progress_label==l ? "active" : ""
						  
						%>
						<div class="step step<%=i%> <%=active%>">
							<span class="number"><%=i%></span>
							<span class="name"><%=l%></span>
						</div>
						<%
					}
					
					%>
					
					
				</div>
				<%
				end
				%> -->
				
				<%= yield %>
				
				
			</div>			
		</div>
	</div>
	
	
	<div id="window-overlay"></div>

	
</body>
</html>
	
	
	
	
<% end %>

