<%= javascript_include_tag "application" %>
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title>Dezquare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link href="/newver/css/fonts/fonts.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/main.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/newver/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
	<script type="text/javascript" src="/newver/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/newver/js/image-grid.js"></script>
	<script type="text/javascript" src="/newver/js/jquery.event.move.js"></script>
	<script type="text/javascript" src="/newver/js/jquery.event.swipe.js"></script>
	<script src="/newver/js/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="/newver/js/global.js"></script>
	<script type="text/javascript" src="/newver/js/profile.js"></script>
</head>
<body>
	
	<section id="page" class="profile-scroll profile">

	<%=render "layouts/header"%>
	<%=render "google_a"%>



	<!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
	<!-- <section id="inside" style="margin-top:90px;"> -->
		<%= yield %>
		<%=render "layouts/footer"%>
	<!-- </section> -->
	</div>
	</section>
</body>
</html>